.goods {
  h2 {
    width: 100%;
    display: block;
    padding: 1.2rem;
    text-align: left;
    font-size: 0.95rem;
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    box-sizing: border-box;
  }
}
