.cartButton {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  right: 1.6rem;
  top: 1.2rem;
  color: #222222;
  stroke-width: 1.5;
  cursor: pointer;
}
.cartItemQty {
  position: absolute;
  right: 1.3rem;
  top: 1.05rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #70bd4c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: 400;
}
