.goodsThumbnail {
  margin: 6%;
  text-align: left;
  cursor: pointer;
  img {
    width: 100%;
    border-radius: 5%;
  }
  .detail {
    padding-top: 6%;
    .title {
      margin-bottom: 5%;
      font-size: 0.9rem;
    }
    .price {
      font-weight: 700;
      font-size: 1rem;
    }
  }
}
