body {
  font-family: "Noto Sans KR", sans-serif;
  color: #222222;
  /* 스크롤 형태만 숨기기 (기능은 그대로) */
  -ms-overflow-style: none;
}
/* 스크롤 형태만 숨기기 (기능은 그대로) */
::-webkit-scrollbar {
  display: none;
}

a {
  color: #222222;
}

.App {
  text-align: center;
  letter-spacing: -0.5px;
}

.hidden {
  display: none;
}
